﻿@using N2
@using N2.Base
@using N2.Base.Models.Pages
@using N2.Collections
@model ArticlePage
@{
	Layout = "~/Views/Shared/Body.cshtml";
	ContentItem topParent;
	if (Model.Parent.ID != SiteFind.StartPage.ID)
	{
		var parents = Find.EnumerateParents(Model, SiteFind.StartPage).ToList();
		topParent = parents.ElementAt(parents.Count() - 2);
	}
	else
	{
		topParent = Model;
	}
}

<h2>@Html.DisplayContent(m => m.Header)</h2>
<strong>@Html.DisplayContent(m => m.Preamble)</strong>
<div>@Html.DisplayContent(m => m.Text)</div>

@section LeftSection {
	@{
		var items = topParent.GetChildren(new NavigationFilter()).ToList();
		var navClass = !items.Any() ? "tranasparant" : null;
	}
	<nav class="@navClass">
		<ul>
			@foreach(var item in items) {
				bool isOpen = item == Model || Find.EnumerateChildren(item).FirstOrDefault(c => c == Model) != null;
				<li class="@(isOpen ? "open" : null)">
					<a class="@(item == Model ? "selected" : null)" href="@item.Url#main">@item.Title</a>
					@if(isOpen) {
						<ul>
							@foreach(var subItem in item.GetChildren(new NavigationFilter())) {
								<li>
									<a class="@(subItem == Model ? "selected" : null)" href="@subItem.Url#main">@subItem.Title</a>
								</li>
							}
						</ul>
					}
				</li>
			}
		</ul>
	</nav>
}

@section NewsSection {
	@if(Model.RightTeasers.Any()) {
		<aside id="links">
			<ul>
				@{ Html.DroppableZone(Defaults.Zones.RightTeasers).Render(); }
			</ul>
		</aside>
	}
}