@model N2.Base.Models.Pages.RedirectPage
@{
	Layout = "~/Views/Shared/Root.cshtml";
	var url = Model.GetDetail("Destination", "/");
	if(!Model.IsEditor) {
		Response.Redirect(url);
	} else {
		<section>
		<figure>
			<div>
				<h2>Auto-redirect is disabled because the current user is an editor.</h2>
				<strong><a href="@url">Continue to @url</a></strong>
			</div>
		</figure>
	</section>
		
	}
}

