﻿@model N2.Base.Models.Parts.TeaserPart
<li>
	@if(!string.IsNullOrEmpty(Model.ImageUrl)) {
		<img src="@Model.ImageUrl" alt="@Model.Title"/>
	}
	
	@if(!string.IsNullOrEmpty(Model.LinkUrl)) {
		<a href="@Model.LinkUrl">
			<h3>@Model.Title</h3>
		</a>
	} else {
		<h3>@Model.Title</h3>
	}
	<p>@Html.Raw(Model.Preamble.Replace(Environment.NewLine, "<br />"))</p>
</li>