﻿@using N2
@using N2.Base.Models.Pages
@using N2.Collections

@{
    Layout = "~/Views/Shared/Root.cshtml";
}

<div role="main" id="main">
	@if (IsSectionDefined("ArticleSection"))
	{
		@RenderSection("ArticleSection");
	}
	else
	{
		@RenderSection("LeftSection", false);
		<article id="maincontent">
			@RenderBody()
		</article>
	}

	@if (IsSectionDefined("NewsSection"))
	{
		@RenderSection("NewsSection");
	}
	else
	{
		
	}
</div>
