﻿@using N2.Base
@using N2.Web.Mvc.Html

<!doctype html>
<html>
	<head lang="sv">
		<meta charset="utf-8">
		@if(!string.IsNullOrEmpty(Model.Description)) {
			<meta name="description" content="@Model.Description" />
		}
		<title>@Model.SeoTitle</title>
		@Styles.Render("~/Content/Styles/bundle")
	</head>

	<body>
		@{ Html.ControlPanel().Render(); }
		<div id="page">
			@{ Html.RenderPartial("LayoutPartials/Header"); }
			@RenderBody()
			@{ Html.RenderPartial("LayoutPartials/Footer"); }
		</div>
		@Scripts.Render("~/bundles/jquery")
		<script type="text/javascript">
			if (typeof jQuery == 'undefined') {
				var e = document.createElement('script');
				e.src = '@Url.Content("~/Content/Scripts/Lib/jquery-1.11.0.min.js")';
				e.type = 'text/javascript';
				document.getElementsByTagName("head")[0].appendChild(e);
			}
		</script>
		@Scripts.Render("~/Content/Scripts/bundle")
		@RenderSection("scripts", required: false)
		@if(!string.IsNullOrEmpty(SiteFind.RootItem.GoogleAnalyticsCode)) {
			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', '@SiteFind.RootItem.GoogleAnalyticsCode']);
				_gaq.push(['_trackPageview']);

				(function () {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
		}
	</body>
</html>
