@using N2.Base
@using N2.Collections
@using N2.Definitions
@{
	var startPage = SiteFind.StartPage;
}

<footer role="contentinfo">
	<div>
		<h4>Snabblänkar</h4>
		<nav>
			<ul>
				<li><a href="@startPage.Url">@startPage.Title</a></li>
				@foreach(var baseItem in startPage.GetChildren(new NavigationFilter()).Where(a => !(a is IStartPage))) {
					<li><a href="@baseItem.Url">@baseItem.Title</a></li>
				}
			</ul>
		</nav>
	</div>
</footer>