@using N2.Collections
@using N2.Definitions
@using N2
@{
	var startPage = SiteFind.StartPage;
	var currentPage = Find.CurrentPage;
	bool isLandingPage = !currentPage.Visible && currentPage.Parent == startPage;
}

<header role="banner">
	<a href="/"><img src="/Content/Images/logo.png" alt="Logo" /></a>
</header>
@{ Html.RenderPartial("LayoutPartials/LanguageSelector"); }
<div>
	<nav role="navigation">
		<ul>
			<li class="@(currentPage == startPage || isLandingPage ? "selected" : null)"><a href="@startPage.Url">@startPage.Title</a></li>
			@foreach (var baseItem in startPage.GetChildren(new NavigationFilter()).Where(p => !(p is IStartPage)))
			{
				string active = currentPage == baseItem || Find.EnumerateChildren(baseItem).Any(p => p == currentPage) ? "selected" : "";
				<li class="@active"><a href="@baseItem.Url">@baseItem.Title</a></li>
			}
		</ul>
	</nav>
</div>