@model N2.Base.Models.Pages.ILanguageVersion

@foreach(var version in Model.LanguageVersions) {
	<a href="@version.Url">
		<img class="flag" src="/Content/Images/@(version.Language.LanguageCode.Split('-').LastOrDefault()).png"></img>
	</a>
	<a class="language" href="@version.Url">
		@version.LanguageText
	</a>
}
