﻿.cke_editable {
 margin: 0; font-size:62.5%; line-height: 1.4;line-height: 1.6em;
 font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

p, li, ul {
    color: #939496;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

p, li {
    font-size: 1.4em;
    line-height: 1.6em;
}

p {
    margin-top: 0px;
}
p a {
    color:#939496;
}

ul {
    padding-left: 20px;
}

li {
    padding-top: 5px;
    line-height: 1.4em;
}

h2 {
    font-size: 2.2em;
font-weight: normal;
color: #939496;
line-height: 1.3em;
margin-bottom: 0;
margin-top: 10px;
}

h3 {
    font-size: 1.8em;
font-weight: normal;
color: #939496;
line-height: 1.3em;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

strong {
    font-weight: bold;
}